#container{
    width: auto;
    height: auto;
    position: relative;
    background-color: yellow;
}

#animate{
    width: auto;
    height: auto;
    position:absolute;
    background-color: red;
}